<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button
            (click)="onToggleSideNav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div><a routerLink="/">Logo</a></div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout class="navigation-items"
        fxLayoutGap="10px"
        *ngIf="!userIsAuthenticated || !currentUser; else authorized">
      <li>
        <a routerLink="/signup">SignUp</a>
      </li>
      <li>
        <a routerLink="/login">Login</a>
      </li>
    </ul>
    <ng-template #authorized>
      <ul fxLayout class="navigation-items"
          fxLayoutGap="10px">
        <li>
          <a routerLink="/objectives">Objectives</a>
        </li>
        <li>
          <a routerLink="/media">Tweets</a>
        </li>
        <li id="currentUser">{{ currentUser['email'] }} | {{ currentUser['firstName'] }} {{ currentUser['lastName'] }}</li>
        <li>
          <button mat-button (click)="onLogout()">Logout</button>
        </li>
      </ul>
    </ng-template>
  </div>
</mat-toolbar>
